{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div
    id="page-content"
    class="page
           d-flex
           min-vh-100
           justify-content-center
           align-items-center
           text-start
           w-100"
>
  <div
      class="col-10
             col-sm-8
             col-md-6
             col-lg-4
             text-white"
  >
    <h1 class="mb-4">Login</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      <input
          type="submit"
          value="Login"
          class="btn btn-primary"
      >
    </form>
  </div>
</div>
{% endblock %}